<%- include('./inc/_config'); %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('./inc/_head'); %>
  <body>
    <%- include('./inc/_header'); %>
    <main>
      <section class="hoge"></section>
    </main>
  </body>
</html>
